.mainHeader {
    background-color: var(--mui-palette-common-black);
    padding: calc(var(--mui-spacing) * 1.5) calc(var(--mui-spacing) * 4);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
