.container {
    background: var(--mui-palette-common-background);
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--mui-palette-grey-A400);
    border-radius: calc(var(--mui-shape-borderRadius) * 8);
    min-height: 32px;
    width: 370px;
    padding: 0 calc(var(--mui-spacing) * 2.5);
}
.searchTextFieldContainer {
    display: flex;
    width: inherit;
}
.searchTextFieldPrefix {
    display: flex;
    align-items: center;
}

.searchTextField {
    border: none;
    outline: none;
    line-height: 1;
    width: 100%;
    color: var(--mui-palette-text-primary);
    padding: 0 0 0 var(--mui-spacing);
    font: var(--mui-font-caption);
    line-height: calc(var(--mui-spacing) * 3);
}

.searchTextFieldPostfix {
    display: flex;
    align-items: center;
}
